<div class="row green">
    <div class="container">
        <div class="four columns">
            <img class="avatar" src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/user_photos/000/492/356/datas/profile.jpg"/>
        </div>
        <div class="eight columns">
            <h2 class="bio">About me</h2>
            <p class="bio">
                I am a Computer Science student at the University of Central Florida. I am interested in the field of Neuro-linguistic Programming, Machine Learning, and Mobile Development, so I have invested my time in exploring these fields. In my free time, I like to play video games like Overwatch and FIFA, play the acoustic guitar, and hang out with friends. I also enjoying playing and refereeing different sports, primarily soccer, dodgeball and ping-pong.
            </p>
        </div>
    </div>
</div><!-- Row Green -->
