<header class="main_nav back">
    <div class="container">
        <div class="twelve columns">
            <div class="logo">
                <a class="name" href="DavidResume.pdf">DAVID ISRAWI</a>
                <p class="subtitle">Software Developer | Student</p>
            </div>
        </div>
        <div class="row twelve columns links">
            <ul class="social">
                <li class="instagram"><a href="https://www.instagram.com/davidisrawi"><i class="fa fa-instagram fa-lg"></i></a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/in/davidisrawi"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                <li class="github"><a href="https://github.com/DavidIsrawi"><i class="fa fa-github-square fa-lg"></i></a></li>
                <li class="email"><a href="mailto:davidisrawi@gmail.com?Subject=Hello%20David"><i class="fa fa-envelope-square fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</header>
