<div class="row">
    <h2>Personal Projects</h2>
    <div class="eight columns">
        <h3>AllTheFeels
            <a href="https://github.com/DavidIsrawi/AllTheFeels">
                <i class="repo fa fa-github fa"></i>
            </a>
        </h3>
        <p class="description">
            Amazon's Alexa script prompts the user how his/her day is going, then depending on the sentiment expressed by the user, it produces a list of regularly-updated Spotify playlists tailored to his/her mood. Worked in incorporating the AlchemyAPI to the response from Alexa, then sorting a list of playlist in accordance to the sentiment in the person's day. Check the Devpost <a href="https://devpost.com/software/allthefeels-9mdqs8"> here</a>!

        </p>
    </div>
    <div class="three columns">
        <img class="project" src="http://via.placeholder.com/100x100"/>
    </div>
    <div class="eight columns">
        <h3>SummarizeMe
            <a href="https://github.com/DavidIsrawi/SummarizeMe">
                <i class="repo fa fa-github"></i>
            </a>
        </h3>
        <p class="description">
            File receives an article (or any body of text) and produces a summary around what sentences have the most value. Reduces big bodies of text to a 70-80% of it's original length. Written in Python using the library NLTK. Project inspired by the auto TL;DR bot used in some subreddits.
        </p>
    </div>
    <div class="three columns">
        <img class="project" src="http://via.placeholder.com/100x100"/>
    </div>
    <div class="eight columns">
        <h3>Flavored News
            <a href="https://github.com/JoshuaKoh/LaCodingGranja_2016">
                <i class="repo fa fa-github"></i>
            </a>
        </h3>
        <p class="description">
            Website scrapes news articles from multiple reliable prominent sources and categorizes such articles by mood/tone of the information. I developed the Watson&reg; Tone Analyzer processor for the articles, a web scrapper for BBC news, and the website’s CSS using Materialize. Processor and web scrapper coded in Python. Check the website <a href="http://www.flavorednews.com"> here</a>!
        </p>
    </div>
    <div class="three columns">
        <img class="project" src="http://via.placeholder.com/100x100"/>
    </div>
    <div class="eight columns">
        <h3>SFreims</h3>
        <p class="description">
            App eases the complexity of a web process to submit reimbursement forms for State Farm&reg; employees. Developed with Ionic and AngularJS (Compatible with iOS and Android). I worked on the code for the ionic framework, and the basis for the AngularJS back end.
        </p>
    </div>
    <div class="three columns">
        <img class="project" src="http://via.placeholder.com/100x100"/>
    </div>
</div>
