<header class="main_nav bar">
    <div class="container">
        <div class="row twelve columns">
            <nav>
                <ul>
                    <li><a routerLink="/">Main</a></li>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/projects">Projects</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<hr/>
<router-outlet></router-outlet>
